body {
  font-family: "Montserrat", sans-serif; }

#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "sidebar header header header" "sidebar projects projects projects";
  padding: 1rem;
  background-color: #f7f7f7; }
  #container .avatar {
    width: 40px;
    border-radius: 50%; }
  #container .icon {
    width: 30px; }
  #container #header {
    grid-area: header; }
    #container #header .top,
    #container #header .bottom {
      display: grid;
      grid-template-columns: 2fr 1fr; }
    #container #header .top {
      display: grid;
      grid-template-columns: 2fr 1fr; }
      #container #header .top .search {
        display: grid;
        grid-template-columns: 50px 1fr;
        border: 1px solid gray;
        border-radius: 50px;
        background-color: white; }
        #container #header .top .search label {
          display: grid; }
          #container #header .top .search label svg {
            place-self: center; }
        #container #header .top .search input {
          border: none;
          outline: none;
          border-radius: inherit;
          background-color: inherit; }
      #container #header .top .notifications,
      #container #header .top .user {
        display: inline; }
      #container #header .top .user img,
      #container #header .top .user .name {
        display: inline; }
    #container #header .bottom .user {
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-template-areas: "avatar greeting" "avatar name"; }
      #container #header .bottom .user .avatar {
        grid-area: avatar; }
      #container #header .bottom .user .greeting {
        grid-area: greeting; }
      #container #header .bottom .user .name {
        grid-area: name; }
    #container #header .bottom .actions ul {
      list-style: none; }
      #container #header .bottom .actions ul li {
        display: inline; }
  #container #sidebar {
    grid-area: sidebar; }
    #container #sidebar #logo img,
    #container #sidebar #logo p {
      display: inline; }
    #container #sidebar ul {
      list-style: none; }
      #container #sidebar ul li a {
        text-decoration: none; }
  #container #projects {
    grid-area: projects;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "projects-container announcements" "projects-container trending"; }
    #container #projects .projects-container {
      grid-area: projects-container; }
      #container #projects .projects-container .projects {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); }
        #container #projects .projects-container .projects .project .actions {
          list-style: none;
          text-align: right; }
          #container #projects .projects-container .projects .project .actions li {
            display: inline; }
    #container #projects .announcements {
      grid-area: announcements; }
    #container #projects .trending {
      grid-area: trending; }
      #container #projects .trending .project {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-areas: "avatar name" "avatar project-name"; }
        #container #projects .trending .project .avatar {
          grid-area: avatar; }
        #container #projects .trending .project .name {
          grid-area: name; }
        #container #projects .trending .project .project-name {
          grid-area: greeting; }

/*# sourceMappingURL=styles.css.map */
