#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        "sidebar header header header"
        "sidebar projects projects projects"
    ;

    #sidebar {
        grid-area: sidebar;
    }
    #header {
        grid-area: header;
    }
    #projects {
        grid-area: projects;
    }
}