#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "sidebar header header header"
        "sidebar projects projects projects";

    #header {
        grid-area: header;

        .top,
        .bottom {
            display: grid;
            grid-template-columns: 2fr 1fr;
        }

        .top {
            display: grid;
            grid-template-columns: 2fr 1fr;

            .search {
                display: grid;
                grid-template-columns: 50px 1fr;
            }

            .notifications,
            .user {
                display: inline;
            }

            .user img,
            .user .name {
                display: inline;
            }
        }

        .bottom {
            .user {
                display: grid;
                grid-template-columns: 1fr 3fr;
                grid-template-areas:
                    "avatar greeting"
                    "avatar name";

                .avatar {
                    grid-area: avatar;
                }
                .greeting {
                    grid-area: greeting;
                }
                .name {
                    grid-area: name;
                }
            }

            .actions {
                ul {
                    list-style: none;

                    li {
                        display: inline;
                    }
                }
            }
        }
    }

    #sidebar {
        grid-area: sidebar;

        #logo {
            img,
            p {
                display: inline;
            }
        }
        ul {
            list-style: none;

            li {
                a {
                    text-decoration: none;
                }
            }
        }
    }

    #projects {
        grid-area: projects;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            "projects-container announcements"
            "projects-container trending";

        .projects-container {
            grid-area: projects-container;

            .projects {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

                .project {
                    .actions {
                        list-style: none;
                        text-align: right;

                        li {
                            display: inline;
                        }
                    }
                }
            }
        }
        .announcements {
            grid-area: announcements;
        }
        .trending {
            grid-area: trending;

            .project {
                display: grid;
                grid-template-columns: 1fr 3fr;
                grid-template-areas:
                    "avatar name"
                    "avatar project-name";

                .avatar {
                    grid-area: avatar;
                }
                .name {
                    grid-area: name;
                }
                .project-name {
                    grid-area: greeting;
                }
            }
        }
    }
}
